.queue-item-exiting td {
    animation: zoomOutAndCollapse 0.5s ease-out forwards;
}

@keyframes zoomOutAndCollapse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        border: 0;
    }
}
